::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

section {
  padding-inline: 1.4583vw;
}

h1 {
  font-size: 15.625vw;
  font-family: "Anton";
}

h2 {
  font-size: 7.54vw;
  font-family: "Anton";
}

h3 {
  font-size: 5.24vw;
  font-family: "Anton";
}

a,
p {
  font-size: 1.7vw;
  font-family: "Anonymous Pro";
}
