::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: #f8f8f8;
}

html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
header,
section {
  padding-inline: 1.4583vw;
}

h1 {
  font-size: 15.625vw;
  font-family: "Anton";
}

h2 {
  font-size: 7.54vw;
  font-family: "Anton";
  text-transform: uppercase;
  color: #3f3ec0;
}

h3 {
  font-size: 5.24vw;
  font-family: "Anton";
}

a,
p {
  color: #3f3ec0;
  font-size: 1.7vw;
  font-family: "Anonymous Pro";
}
